{% extends '../base/base.html' %}
{% load static %}


{% block ForgotPassword %}

<div class="subscriber my-5">
    <div class="container flex-column">
        <div class="label mb-4">
            <div class="text">
                <h1 class="fw-bold fs-2 text-center">إعادة تعيين كلمة المرور</h1>
                <p class="text-center" style="width: 500px;">أدخل بريدك الإلكتروني الذي سجلت به في الموقع و ستصلك رسالة لعإعادة تعييم كلمة المرور الخاصة بك</p>
            </div>
        </div>
        <div class="input">
            <form action="" method="post">
                {% csrf_token %}
                {{form.email}}
                <input type="submit" value="ارسل">
            </form>
        </div>
    </div>
</div>
    

{% endblock ForgotPassword %}

