{% extends '../base/base.html' %}
{% load static %}

{% block Verification %}

<div class="verification my-5">
    <div class="container">
       {% if request.user.is_verified  %}
       <h1 class="text-center fw-bold is-verified">تم تفعيل حسابك بالنجاح</h1>
       <img class="is-verified-img" src="{% static 'img/icons8-verified-96.png' %}" alt="">
       {% else %}
       
       <h1 class="text-center fw-bold">تفعيل الحساب</h1>
       <p class="text-center fs-5 mt-3">لقد تم ارسال رسالة لك على بريدك الإلكتروني لتفيل الحساب </p>
       <form class="text-center" action="" method="POST">
           {% csrf_token %}
           <p class="text-center fs-5 mt-3">إذا لم تصلك رسالة أعد أرسالها </p>
           <input type="submit" value="ارسل">
       </form>

       {% endif %}
    </div>
</div>

{% endblock Verification %}