{% extends '../base/base.html' %}
{% load static %}


{% block PasswordResetFailed %}

<div class="verification my-5">
    <div class="container">
       <h1 class="text-center fw-bold is-verified">الرابط غير صالح</h1>
       <p style="width:600px; margin:20px auto" class="text-center fs-5 mt-3">رابط إعادة تعيين كلمة المرور كان غير صالح، ربما لأنه تم استخدامه بالفعل. الرجاء طلب إعادة تعيين كلمة المرور الجديدة.</p>
       <img class="is-verified-img" src="{% static 'img/icons8-wrong-96.png' %}" alt="">
    </div>
  </div>

{% endblock PasswordResetFailed %}