{% extends '../base/base.html' %}
{% load static %}



{% block PasswordResetDone %}

<div class="verification my-5">
  <div class="container">
     <h1 class="text-center fw-bold is-verified">تحقق من بريدك الوارد</h1>
     <p class="text-center fs-5 mt-3">لقد أرسلنا إليك تعليمات عبر البريد الإلكتروني لإعداد كلمة المرور الخاصة بك. يجب أن تتلقى البريد الإلكتروني قريبا! </p>
     <img class="is-verified-img" src="{% static 'img/icons8-verified-96.png' %}" alt="">
  </div>
</div>




{% endblock PasswordResetDone %}