{% extends '../base/base.html' %}
{% load static %}


{% block PasswordResetComplete %}

<div class="verification my-5">
    <div class="container">
       <h1 class="text-center fw-bold is-verified">تم تعيين كلمة السر الجديد</h1>
       <p class="text-center fs-5 mt-3">لقد تم تعيين كلمة السر الجديد بالنجاح , يمكنك الأن إستخدامها لدخول إلى الموقع</p>
       <img class="is-verified-img" src="{% static 'img/icons8-verified-96.png' %}" alt="">
    </div>
  </div>
  
  
  


{% endblock PasswordResetComplete %}