{% extends 'base/base.html' %}
{% load static %}


{% block ContactUsPage %}

{% block ContactUs %}

 <!-- Start Contact Us Info -->

 <div class="conatct-info my-5">
    <div class="container">
        <h1 class="title">بيانات التواصل</h1>
        <p>للاتصال بـ دار القبس للنشر والتوزيع استخدم احد وسائل التواصل التالي :</p>
        <div class="boxes">
            <div class="box">
                <div class="box-header ">
                    <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>
                    <h2 class="fs-6 mt-3 text-white fw-bold">العنوان</h2>
                </div>
                <div class="box-footer">
                    <h2 class="fs-6 mt-3 text-white fw-bold">حي النصر 156 قديل , وهران - الجزائر -</h2>
                </div>
            </div>
            <div class="box">
                <div class="box-header ">
                    <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
                    <h2 class="fs-6 mt-3 text-white fw-bold">الهاتف</h2>
                </div>
                <div class="box-footer">
                    <h2 class="fs-6 mt-3 text-white fw-bold">213665581693+</h2>
                </div>
            </div>
            <div class="box">
                <div class="box-header ">
                    <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
                    <h2 class="fs-6 mt-3 text-white fw-bold">البريد الإلكتروني</h2>
                </div>
                <div class="box-footer">
                    <h2 class="fs-6 mt-3 text-white fw-bold">بريد إلكترونى : info@alqabas.net</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Contact Us Info -->

{% endblock ContactUs %}

{% endblock ContactUsPage %}