{% extends 'dashboard/dashboard-base.html' %}
{% load static %}
{% load filters %}


{% block AllBooksOrderPublished %}     
<div class="section-box books-list mt-4">
    <div class="header d-flex justify-content-between align-items-center">
        <h1 class="title-overview fs-3 fw-bold px-3">الكتب</h1>
        <a href="{% url "add-book" %}">أضف كتابا</a>
    </div>
    <div class="">
        <table class="table table-striped table-hover mt-4 text-center table-bordered">
            <th class="text-uppercase ">#</th>
            <th class="text-uppercase ">اسم الكاتب</th>
            <th class="text-uppercase ">عنوان للكتاب</th>
            <th class="text-uppercase ">عنوان الفرعي للكتاب</th>
            <th class="text-uppercase ">نوع الكتاب</th>
            <th class="text-uppercase ">صورة الغلاف</th>
            <th class="text-uppercase ">البريد الإلكتروني</th>
            <th class="text-uppercase ">رقم الهاتف</th>
            <th class="text-uppercase ">عرض</th>
            <th class="text-uppercase ">تعديل</th>
            <th class="text-uppercase ">حذف</th>
            </tr>
           {% for book in all_books %}
                <tr>
                    <th class="text-uppercase ">{{book.pk}}</th>
                    <th class="text-uppercase ">{{book.author_name}}</th>
                    <th class="text-uppercase ">{{book.book_title}}</th>
                    <th class="text-uppercase ">{{book.book_subtitle}}</th>
                    <th class="text-uppercase ">{{book.book_category}}</th>
                    <th class="text-uppercase text-center"><img src="{{book.book_picture.url}}" ></th>
                    <th class="">{{book.email_address}}</th>
                    <th class="text-uppercase ">{{book.phone_number}}</th>
                    <td class="text-uppercase text-center">
                        <a class="book-view" href="{% url 'edit-object' book|app_name book|model_name book.pk%}">عرض</a>
                    </td>
                    <td class="text-uppercase text-center">
                        <a class="edit" href="{% url 'edit-object' book|app_name book|model_name book.pk%}">تعديل</a>
                    </td>
                    <td class="text-uppercase text-center">
                        <a class="delete" href="{% url 'delete-object' book|app_name book|model_name book.pk%}">حذف</a>

                    </td>
                </tr>
           {% endfor %}
        </table>
    </div>
</div>          
{% endblock AllBooksOrderPublished %}           
