{% extends 'dashboard/dashboard-base.html' %}
{% load static %}



{% block DeleteObject %}     
<div class="section-box books-list mt-4">
    <h1 class="title-overview fs-3 fw-bold px-3">هل انت متأكد من أنك تريد حذف {{object_name}}
        <span style="color: var(--primary-color);">{% if instance_title.first_name %} {{instance_title.first_name}} {{instance_title.last_name}} {% else %} {{instance_title}} {% endif %}</span>
        ؟
    </h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="button text-end d-flex justify-content-end align-items-center gap-3">
            <a class="btn cancel" href="{% url 'dashboard-main' %}">إلغاء</a>
            <input class="btn save" type="submit" value="حذف">
        </div>
    </form>
</div>          
{% endblock DeleteObject%}
